@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova.woff2") format("woff2"),
    url("../fonts/ProximaNova.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "ProximaNova";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ----- header ----- */

.header {
  background-color: rgba(88, 88, 88, 0.055);
  width: 100%;
  min-height: 50px;
  padding: 20px 0;
  margin-bottom: 100px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logo {
}

.logo__img {
  max-width: 80px;
}

.menu {
  flex-basis: 70%;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
}

.menu__link {
  color: rgba(83, 83, 83, 0.9);
  text-transform: uppercase;
  transition: color, font-weight 0.3s;
  font-weight: bold;
  font-size: 19px;
  transition: color, text-shadow 0.3s;
}

.menu__link:hover {
  color: rgba(31, 30, 30, 0.9);
  text-shadow: 1px 1px 2px rgba(31, 30, 30, 0.9);
}

/* ----- main ----- */

.card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title {
  font-family: "ProximaNova-Bold";
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

/* ----- block ----- */

.product {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  min-height: 720px;
  align-content: space-between;
}

.block {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 3px solid #f6f7f8;
  min-height: 350px;
  max-width: 270px;
  transition: background-color, box-shadow 0.5s;
}

.block:hover {
  background-color: #f6f7f8;
  box-shadow: 4px 3px 5px 3px rgba(0, 0, 0, 0.233);
}

.block__img {
  flex-shrink: 50%;
  padding: 0 15px;
}

.block__title {
  font-family: "ProximaNova-Bold";
  color: #262626;
  font-size: 15px;
  letter-spacing: 0.35px;
  line-height: 16px;
}

.block__price {
  font-family: "ProximaNova-Bold";
  color: #ff4858;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 17px;
}

span {
  color: #c1c8ce;
  text-decoration: line-through;
}
